div._loading_overlay_wrapper {
  position: unset;
  ._loading_overlay_overlay{
    z-index: 1300;
  }
}


.booking-modal-container{
    .booking-modal-content{
        display: flex;
        flex-direction: column;

        .booking-modal-header{
            padding: 10px;
            border-bottom: 1px solid #ccc;
            .left{
                font-size: 15px;
                font-weight: 600;
                color: #333;
            }
            .right{
                float: right;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        .booking-modal-body{
            height: 100%;
            padding: 15px;
        }
        .booking-modal-footer{
            padding: 10px;
            border-top: 1px solid #ccc;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 15px;

            button{
                border: 1px solid #29bba3;
                outline: none;
                padding: 5px 10px;
                border-radius: 5px;
            }

            .btn-booking-confirm{
                background-color: #fff8ae;
            }

            .btn-booking-cancel{
                background-color: #fff8ae;
            }
        }
    }
}