.login-background {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .login-left{
    width: 55%;
    background-image: url("../../assets/LoginBgLeft.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login-right{
    width: 45%;
    position: relative;
      .login-container {
        width: 400px;
        height: 450px;
        margin: auto;
        border-radius: 15px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 1px 6px #20212447;
        border-radius: 8px;

        .login-content {
          padding: 10px;

           .LoginLogo{
                background: url("../../assets/logo2.svg") center center no-repeat;
                width: 100%;
                height: 100px;
                cursor: pointer;
                transform: scale(0.75, 0.75);
          }

          .text-login {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            padding-top: 10px;
          }

          .login-input {
            margin: 7px 0;

            .custom-input-password{
              position: relative;

              i {
                  position: absolute;
                  right: 10px;
                  top: 10px;
                  cursor: pointer;
              }
            }
          }

          .btn-login {
            width: 100%;
            margin: 10px 0;
            height: 30px;
            border-radius: 25px;
            outline: none;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            background-color: #22c1c3;
            color: white;
            font-size: 16px;
          }

          .forgot-password {
            font-size: 12px;
          }

          .social-login {
            display: flex;
            text-align: center;
            justify-content: center;
            margin-top: 10px;

            i {
              font-size: 30px;
            }
            .google {
              color: rgb(243, 65, 65);
              margin-right: 20px;
            }
            .facebook {
              color: rgb(83, 83, 252);
              margin-right: 20px;
            }
            .twitter {
              color: rgb(0, 172, 237);
            }
          }
        }
      }
  }
}
